.app {
    background-color: rgb(236, 236, 236);
}

h1 {
    text-align: center;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0 2% 2%;
}

li {
    background-color: white;
    border: 1px black solid;
    margin: 1%;
    padding: 1% 3%;
    border-radius: 20px;
}

li:hover {
    background-color: lightgray;
    cursor: pointer;
}